<h1>Restaurants </h1>
<% @restaurants.each do |restaurant| %>
<h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
<p>category : <%= restaurant.category %></p>
<p>address : <%= restaurant.address %></p>
<%end   %>
